* {
    box-sizing: border-box;
}

html {
    position: relative;
    min-height: 100vh;
}

body {
    height: 100vh;
    margin: 0 auto;
    margin-bottom: 60px;
}

.selfie {
    height: auto;
    width: 400px;
    margin-right: 35px;
}

.bio {
    font-size: 22px;
}

.flip-card {
    position: relative;
    cursor: pointer;
    width: 100px;
    height: auto;
}

.middle {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.front, .back {
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    transition: transform .6s linear;
}

.front {
    position: relative;
    transform: perspective(600px) rotateY(0deg);
}

.back {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 25px;
    background-color: #f1f1f1;
    transform: perspective(600px) rotateY(180deg);
}

.back-content {
    position: absolute;
    text-align: center;
    width: 100%;
    color: black;
}

.flip-card:hover > .front {
    transform: perspective(600px) rotateY(-180deg);
}

.flip-card:hover > .back {
    transform: perspective(600px) rotateY(0deg);
}

.logo {
    width: 100%;
    height: auto;
}