* {
    box-sizing: border-box;
}

html {
    position: relative;
    min-height: 100vh;
}

body {
    height: 100vh;
    margin: 0 auto;
    margin-bottom: 60px;
}

.selfie {
    height: auto;
    width: 400px;
    margin-right: 35px;
}

.bio {
    font-size: 22px;
}

.flip-card {
    position: relative;
    cursor: pointer;
    width: 200px;
    height: auto;
}

.middle {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.front, .back {
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transition: transform .6s linear;
}

.front {
    z-index: 10;
    position: relative;
    transform: perspective(600px) rotateY(0deg);
}

.back {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 25px;
    background-color: #f1f1f1;
    transform: perspective(600px) rotateY(180deg);
}

.flip-card:hover > .front {
    transform: perspective(600px) rotateY(-180deg);
}

.flip-card:hover > .back {
    transform: perspective(600px) rotateY(0deg);
}

.logo {
    width: 100%;
    height: auto;
    background-color: white;
    border-radius: 25px;
}

#github {
    border-radius: 40px;
}

#github-back {
    border-radius: 40px;
}

#email {
    position: absolute;
    top: 25%;
    left: 40%;
    width: 50%;
    height: auto;
}

.button {
    position: absolute;
    text-align: center;
    padding: 10px;
    background-color: #1670f0;
    color: white;
    width: 80%;
    font-size: 1.5vmax;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none;
    box-shadow: 0 20px 50px rgba(0,0,0,.5);
    overflow: hidden;
}

.button:hover {
    text-decoration: none;
    color: white;
}

.button span:nth-child(1) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background: linear-gradient(to right,#0c002b,#1779ff);
    animation: animate1 2s linear infinite;
}

@keyframes animate1 {
 0%{
   transform:translateX(-100%);
 }
 100%{
   transform:translateX(100%);
 }
}
.button span:nth-child(2) {
    position: absolute;
    top: 0;
    right: 0;
    width: 3px;
    height: 100%;
    background: linear-gradient(to bottom,#0c002b,#1779ff);
    animation: animate2 2s linear infinite;
    animation-delay: 1s;
}

@keyframes animate2 {
 0%{
   transform:translateY(-100%);
 }
 100%{
   transform:translateY(100%);
 }
}

.button span:nth-child(3) {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background: linear-gradient(to left,#0c002b,#1779ff);
    animation: animate3 2s linear infinite;
}

@keyframes animate3 {
 0%{
   transform:translateX(100%);
 }
 100%{
   transform:translateX(-100%);
 }
}

.button span:nth-child(4) {
    position: absolute;
    top: 0;
    left: 0;
    width: 3px;
    height: 100%;
    background: linear-gradient(to top,#0c002b,#1779ff);
    animation: animate4 2s linear infinite;
    animation-delay: 1s;
}

@keyframes animate4 {
 0%{
   transform:translateY(100%);
 }
 100%{
   transform:translateY(-100%);
 }
}